html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;

}

h1 {
  font-family: showcard-gothic, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FF5700;
  text-shadow: 1.5px 1.5px 5px #969696;
  letter-spacing: 0.1em;
  word-spacing: 0.4em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.topNav {
  position: absolute;
  top: -60px;
  /*display: flex;
  flex-direction: row; */
  position: relative;
}

.navLeft {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

.navLeft i {
  margin: 10px;
}

.navRight {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.navRight i {
  padding: 10px;
}

.icon {
  font-size: 2em; /*font awesome icons are sized by font-size*/
  color: #044444;
}

.helpImage {
  width: 30%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  width: 30%; /* Could be more or less, depending on screen size */
  font-size: 2em;
}

.modal-content h1 {
  margin-top: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.modal-content p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.5em;
}

.modal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* */

#container {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    position: relative;
    border: 1px solid red;
    background-repeat: no-repeat;
    background-size: cover;
}

#score_help {
    text-align: center;
    font-size: 25px;
    background-color: #ffa500;
}

#skyline {
    position: absolute;
    height: 2%;
    width: 100%;
    /* background-color: #cccccc; */
    top: 23%;
}

.cloud {
    position: absolute;
    height: 14.5%;
    width: 11.5%;
    top: 10%;
    background: url('Resources/cloud.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

#cloud1 {
    left: 20%;
}

#cloud2 {
    left: 40%;
}

#cloud3 {
    left: 60%;
}

.carrot {
    position: absolute;
    top: 18%;
    height: 10%;
    width: 2%;
    /* background-color: #fff; */
    background: url('Resources/carrot.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 99;
}

#carrot1 {
    left: calc(20% + 8%/2 - 2%/2);
}

#carrot2 {
    left: calc(40% + 8%/2 - 2%/2);
}

#carrot3 {
    left: calc(60% + 8%/2 - 2%/2);
}

.miss {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 7%;
    width: 7%;
    background: url('Resources/carrot_miss_small.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
}

#miss1 {
    left: calc(20% + 8%/2 - 7%/2);
}

#miss2 {
    left: calc(40% + 8%/2 - 7%/2);
}

#miss3 {
    left: calc(60% + 8%/2 - 7%/2);
}

#floor {
    position: absolute;
    height: 7%;
    width: 100%;
    /* background-color: #FCB26B; */
    bottom: 0;
    z-index: 10;
}

.avatarcontainer{
    padding: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#basket {
    height: 100px;
    width: 85px;
    position: absolute;
    bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1 {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: fuchsia;
    color: white;
    top: 40%;
    right: 0%;
    font-size: 35px;
    display: none;
    cursor: pointer;
}
